---
import '../../styles/global.css';
import { Image } from 'astro:assets';
import ArrowButton from '../ArrowButton.svelte';

interface Props {
    imagePath: string;
    imageDescription: string;
    cardDescription: string;
    href: string;
}

const { imagePath, imageDescription, cardDescription, href } = Astro.props;
---
<div class="about-card" id={imagePath}>
    <a href={href} class="card-link" aria-label="Карточка с описанием направлений проектов">
        <div class="about-bg">
            <Image src={import(`../../images/main/about_cards/${imagePath}.jpg`)} alt={imageDescription} class='about-card-img' loading="lazy"/>
            <ArrowButton url={href} theme='slider-square' />
        </div>
        <p class="about-card-descr" set:html={cardDescription}></p>
    </a>
</div>

<style>
    .about-card {
        --card-width: 16.6rem;
        --card-height: 21.75rem;
        --bg-height: 18.125rem;
        --descr-margin-top: 1.25rem;
        --descr-font-size: 1rem;
    }

    .about-card {
        display: block;
        width: var(--card-width);
        height: var(--card-height);
    }

    .card-link {
        border-radius: var(--border-radius);
        width: inherit;
        height: inherit;
        text-decoration: none; /* Ensures links have no text decoration */
    }

    .about-bg {
        position: relative;
        width: inherit;
        height: var(--bg-height);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
    }

    .about-card-img {
        width: inherit;
        height: inherit;
        border-radius: inherit;
        object-fit: cover;
    }

    .about-card-descr {
        display: inline-block;
        width: inherit;
        margin-top: var(--descr-margin-top);
        font-family: var(--font-inter);
        font-size: var(--descr-font-size);
    }

    @media (960px <= width < 1200px) {
        .about-card {
            --card-width: 13.625rem;
            --card-height: 17.0625rem;
            --bg-height: 14.875rem;
            --descr-margin-top: 1.25rem;
            --descr-font-size: 0.75rem;
        }
    }

    @media (640px <= width < 960px) {
        .about-card {
            --card-width: 18.625rem;
            --card-height: 17.0625rem;
            --bg-height: 14.875rem;
            --descr-margin-top: 1.25rem;
            --descr-font-size: 0.75rem;
        }
    }

    @media (480px <= width < 640px) {
        .about-card {
            --card-width: 13.125rem;
            --card-height: 9rem;
            --bg-height: 7.5625rem;
            --descr-margin-top: 0.625rem;
            --descr-font-size: 0.625rem;
        }
    }

    @media (320px <= width < 480px) {
        .about-card {
            --card-width: 87.5vw;
            --card-height: 45vw;
            --bg-height: 37.8125vw;
            --descr-margin-top: 3.125vw;
            --descr-font-size: 3.125vw;
        }

        #loanCard {
            margin-bottom: 4vw;
        }
    }

</style>
