---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import EcoAbout from '../components/eco/EcoAbout.astro';
import EcoPolutionSection from '../components/eco/EcoPolutionSection.astro';
import ConceptSection from '../components/ConceptSection.astro';
import IntroSection from '../components/IntroSection.astro';
import EcoEventsChain from '../components/eco/EcoEventsChain.astro';
import EcoGalery from '../components/eco/EcoGalery.astro';
import HelpSection from '../components/HelpSection.astro';
import ecoHelpImg from '../images/eco/ecoHelp.png';
import SocialSection from '../components/SocialSection.astro';
import EcoHeroSection from '../components/eco/EcoHeroSection.astro';

import ecoGalleryCard1 from '../images/eco/ecoGaleryCard1.jpg';
import ecoGalleryCard2 from '../images/eco/ecoGaleryCard2.jpg';
import ecoGalleryCard3 from '../images/eco/ecoGaleryCard3.jpg';
import ecoGalleryCard4 from '../images/eco/ecoGaleryCard4.jpg';
import ecoGalleryCard5 from '../images/eco/ecoGaleryCard5.jpg';
import ecoGalleryCard6 from '../images/eco/ecoGaleryCard6.jpg';
import ecoGalleryCard7 from '../images/eco/ecoGaleryCard7.jpg';
import ecoGalleryCard8 from '../images/eco/ecoGaleryCard8.jpg';

const locale = Astro.currentLocale || "";

---
<Layout title="Eco Time Day">
    <main id="main">
        <EcoHeroSection />
        <EcoAbout />
        <EcoPolutionSection />
        <ConceptSection 
            pagePath='eco'
            mainHeading={locale === "en" && "Project concept" || "Концепция проекта"}
            subHeading={locale === "en" && "Cleaning the coastal area, which is the border of two worlds – terrestrial and aquatic." || "Уборка берегового пространства, являющееся фактически границей двух <br/> миров - земного и водного."}
            text={locale === "en" && "The pollution of this zone causes tremendous damage to both ecosystems. Volunteers of the project can be called defenders of the natural boundaries of ecosystems and human health, since environmental pollution increases the risk of developing allergies and a number of other diseases, including cancer." || "Последствиями загрязнения этой зоны является колоссальный урон обеим экосистемам. Волонтёров проекта можно назвать защитниками естественных границ экосистем и здоровья людей, так как загрязнение окружающей среды повышает риск развития аллергий и ряда других заболеваний, в том числе онкологических."}
        />
        <IntroSection
            page='eco' 
            mainHeading={locale === "en" && "Eco Time Day – people who believe in the future and do everything possible for it." || "Eco Time Day - люди, верящие в будущее и делающие для него всё возможное."}
            text={locale === "en" && "People who are passionate and inspire others with their example. We realize that our common space affects each of us and our descendants, civilization, and therefore our future life, the fortunes of our affairs, experience, discoveries, the fortunes of the information we have discovered and its preservation. This is healthy egoism – become united for a common, useful goal." || "Люди, увлечённые и увлекающие других своим примером. Мы осознаем, что наше общее пространство влияет на каждого из нас и наших потомков, на цивилизацию, а значит и на нашу дальнейшую жизнь, судьбу наших дел, опыта, открытий, судьбу открытой нами информации и её сохранение. Это и есть здоровый эгоизм - объединение ради общей, полезной цели. "}
            containerWidth='53.8rem'
            containerHeight='21.5rem'
        />
        <EcoEventsChain />
        <!-- <EcoGalery page="eco"/> -->

        <section id="gallery" class="gallery">
            <div class="row">
                <div class="slide">
                    <div class="card"><img src={ecoGalleryCard2.src} alt=""/></div>
                    <div class="card"><img src={ecoGalleryCard1.src} alt=""/></div>
                    <div class="card text"><span>{locale === "en" ? "Together" : "Совместными усилиями"}</span></div>
                    <div class="card"><img src={ecoGalleryCard3.src} alt=""/></div>
                    <div class="card"><img src={ecoGalleryCard4.src} alt=""/></div>
                </div>
            </div>
            <div class="row">
                <div class="slide">
                    <div class="card"><img src={ecoGalleryCard5.src} alt=""/></div>
                    <div class="card"><img src={ecoGalleryCard6.src} alt=""/></div>           
                    <div class="card"><img src={ecoGalleryCard7.src} alt=""/></div>
                    <div class="card text"><span>{locale === "en" ? <>We&nbsp;can</> : "Мы сможем"}</span></div>
                    <div class="card"><img src={ecoGalleryCard8.src} alt=""/></div>
                </div>
            </div>
            <div class="row">
                <div class="slide">
                    <div class="card"><img src={ecoGalleryCard8.src} alt=""/></div>
                    <div class="card"><img src={ecoGalleryCard7.src} alt=""/></div>
                    <div class="card"><img src={ecoGalleryCard6.src} alt=""/></div>
                    <div class="card"><img src={ecoGalleryCard5.src} alt=""/></div>
                    <div class="card text"><span>{locale === "en" ? <>Save our&nbsp;planet</> : "Спасти планету"}</span></div>
                </div>
            </div>
        </section>

        <HelpSection page='eco' img={ecoHelpImg} imgDescr='Знак мира в виде рогатки' />
        <SocialSection 
            page="eco" 
            tg_link='https://t.me/ecotimedaynews' 
            inst_link = 'https://www.instagram.com/ecotimeday?igsh=MXd1NjA1MjZrNXBmNQ%3D%3D&utm_source=qr' 
            yt_link = 'https://youtube.com/@ecotimeday?si=MUsm0ELH-GUNGkPA'
        />
    </main>
</Layout>

<script>

    // Implement horizontal scrolling for gallery

    const galleryElement = document.getElementById('gallery');
    const slides = galleryElement?.querySelectorAll(".slide");

    const slide0 = slides![0] as HTMLElement;
    const textCard0 = slide0.querySelector(".card.text") as HTMLElement;

    const slide1 = slides![1] as HTMLElement;
    const textCard1 = slide1.querySelector(".card.text") as HTMLElement;

    const slide2 = slides![2] as HTMLElement;
    const textCard2 = slide2.querySelector(".card.text") as HTMLElement;

    document.documentElement.style.height = document.body.offsetHeight
        + textCard0.offsetLeft
        + (textCard1.offsetLeft - galleryElement!.offsetWidth / 2 + textCard1.offsetWidth / 2)
        + (textCard2.offsetLeft - galleryElement!.offsetWidth + textCard2.offsetWidth)
        + "px";

    document.addEventListener("scroll", onScroll, {passive: true});

    function onScroll() {
        if (document.documentElement.scrollTop > galleryElement!.offsetTop - window.innerHeight / 2 + galleryElement!.offsetHeight / 2) {
            document.body.style.position = "fixed";
            document.body.style.top = -(galleryElement!.offsetTop - window.innerHeight / 2 + galleryElement!.offsetHeight / 2) + "px";
            let diff = document.documentElement.scrollTop - (galleryElement!.offsetTop - window.innerHeight / 2 + galleryElement!.offsetHeight / 2);
            
            
            if (diff < textCard0.offsetLeft) {
                slide0.style.translate = -diff + "px";
                return;
            }
            slide0.style.translate = -textCard0.offsetLeft + "px"; // Final position
            diff -= textCard0.offsetLeft;
            
            if (diff < textCard1.offsetLeft - galleryElement!.offsetWidth / 2 + textCard1.offsetWidth / 2) {
                slide1.style.translate = -diff + "px";
                return;
            }
            slide1.style.translate = -(textCard1.offsetLeft - galleryElement!.offsetWidth / 2 + textCard1.offsetWidth / 2) + "px"; // Final position
            diff -= textCard1.offsetLeft - galleryElement!.offsetWidth / 2 + textCard1.offsetWidth / 2;
            
            if (diff < textCard2.offsetLeft - galleryElement!.offsetWidth + textCard2.offsetWidth) {
                slide2.style.translate = -diff + "px";
                return;
            }
            slide2.style.translate = -(textCard2.offsetLeft - galleryElement!.offsetWidth + textCard2.offsetWidth) + "px"; // Final position
            document.body.style.position = "absolute";
            document.body.style.top = textCard0.offsetLeft + (textCard1.offsetLeft - galleryElement!.offsetWidth / 2 + textCard1.offsetWidth / 2) + (textCard2.offsetLeft - galleryElement!.offsetWidth + textCard2.offsetWidth) + "px";
        } else {
            document.body.style.position = "";
            document.body.style.top = "";
        }
    }
</script>

<style>
	main {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
	}

    .gallery {
        margin-left: 20px;
        margin-right: 20px;;
        margin-bottom: 100px;
    }

    .gallery .row {
        display: flex;
        margin-bottom: 20px;
    }

    .gallery .row .slide {
        display: flex;
        gap: 20px;
    }

    .gallery .card {
        width: 130px; height: 70px;
        border-radius: 20px;
        overflow: hidden;
    }

    .gallery .card.text {
        display: flex;        
        align-items: center;
        justify-content: center;
        font-family: "Montserrat Variable";
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;        
        box-shadow: var(--box-shadow);
    }

    .gallery .card.text span {
        flex: 0;
        background-color: var(--green);
        background-image: var(--gradient);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gallery .card img {
        display: block;
        width: 100%; height: 100%;
        object-fit: cover;
    }

    @media (width >= 480px) {

        .gallery .card {
            width: 210px; height: 110px;
        }
    }

    @media (width >= 640px) {

        .gallery .card {
            width: 298px; height: 165px;
            border-radius: 30px;
        }

        .gallery .card.text {
            font-size: 20px;
        }
    }

    @media (width >= 960px) {

        .gallery .card {
            width: 293px; height: 165px;
        }
    }

    @media (width >= 1200px) {
    
        .gallery {
            width: 1120px;
            margin-left: auto;
            margin-right: auto;
        }

        .gallery .card {
            width: 360px; height: 205px;
        }

        .gallery .card.text {
            font-size: 35px;
        }
    }
</style>