---
import Layout from '../layouts/Layout.astro';
import mainBackgroundImage from "../images/main/main-background.png";
import mainLogo from "../images/main/mainLogo.png";
import welcomeImg from "../images/main/welcome.png";
import '../styles/global.css';
import sloganBG1 from '../images/main/sloganBG1.jpg';
import sloganBG2 from '../images/main/sloganBG2.jpg';
import AstrowaySection from '../components/main/AstrowaySection.astro';
import WelcomeSection from '../components/main/WelcomeSection.astro';
import AboutSection from '../components/main/AboutSection.astro';
import EventsSection from '../components/main/EventsSection.astro';
import IntroSection from '../components/main/IntroSection.astro';
import TokenSection from '../components/main/TokenSection.astro';
import GoalsSection from '../components/main/GoalsSection.astro';
import SlogansSection from '../components/main/SlogansSection.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<AstrowaySection mainBackgroundImage={mainBackgroundImage} mainLogo={mainLogo} />
		<WelcomeSection welcomeImg={welcomeImg} />
		<AboutSection />
		<EventsSection />
		<IntroSection />
		<TokenSection />
		<GoalsSection />
		<SlogansSection sloganBG1={sloganBG1} sloganBG2={sloganBG2} />
	</main>
</Layout>

<style>
	main {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
	}
</style>