---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import RidePhilosophy from '../components/longlonfride/RidePhilosophy.astro';
import ConceptSection from '../components/ConceptSection.astro';
import IntroSection from '../components/IntroSection.astro';
import RideGoals from '../components/longlonfride/RideGoals.astro';
import EcoGalery from '../components/eco/EcoGalery.astro';
import RideVideoSection from '../components/longlonfride/RideVideoSection.astro';
import HelpSection from '../components/HelpSection.astro';
import SocialSection from '../components/SocialSection.astro';
import RideHeroSection from '../components/longlonfride/RideHeroSection.astro';

import galleryCard1 from '../images/longLongRide/rideGaleryCard1.jpg';
import galleryCard2 from '../images/longLongRide/rideGaleryCard2.jpg';
import galleryCard3 from '../images/longLongRide/rideGaleryCard3.jpg';
import galleryCard4 from '../images/longLongRide/rideGaleryCard4.jpg';
import galleryCard5 from '../images/longLongRide/rideGaleryCard5.jpg';
import galleryCard6 from '../images/longLongRide/rideGaleryCard6.jpg';
import galleryCard7 from '../images/longLongRide/rideGaleryCard7.jpg';
import galleryCard8 from '../images/longLongRide/rideGaleryCard8.jpg';
import galleryCard9 from '../images/longLongRide/rideGaleryCard9.jpg';
import galleryCard10 from '../images/longLongRide/rideGaleryCard10.jpg';

import sportImage1 from '../images/longLongRide/gallery/sport-1.jpg';
import sportImage2 from '../images/longLongRide/gallery/sport-2.jpg';
import sportImage3 from '../images/longLongRide/gallery/sport-3.jpg';
import sportImage4 from '../images/longLongRide/gallery/sport-4.jpg';
import sportImage5 from '../images/longLongRide/gallery/sport-5.jpg';
import sportImage6 from '../images/longLongRide/gallery/sport-6.jpg';
import sportImage7 from '../images/longLongRide/gallery/sport-7.jpg';
import sportImage8 from '../images/longLongRide/gallery/sport-8.jpg';
import sportImage9 from '../images/longLongRide/gallery/sport-9.jpg';
import sportImage10 from '../images/longLongRide/gallery/sport-10.jpg';
import sportImage11 from '../images/longLongRide/gallery/sport-11.jpg';
import sportImage12 from '../images/longLongRide/gallery/sport-12.jpg';
import sportImage13 from '../images/longLongRide/gallery/sport-13.jpg';
import sportImage14 from '../images/longLongRide/gallery/sport-14.jpg';
import sportImage15 from '../images/longLongRide/gallery/sport-15.jpg';
import sportImage16 from '../images/longLongRide/gallery/sport-16.jpg';
import sportImage17 from '../images/longLongRide/gallery/sport-17.jpg';
import sportImage18 from '../images/longLongRide/gallery/sport-18.jpg';
import sportImage19 from '../images/longLongRide/gallery/sport-19.jpg';
import sportImage20 from '../images/longLongRide/gallery/sport-20.jpg';
import sportImage21 from '../images/longLongRide/gallery/sport-21.jpg';
import sportImage22 from '../images/longLongRide/gallery/sport-22.jpg';
import sportImage23 from '../images/longLongRide/gallery/sport-23.jpg';
import sportImage24 from '../images/longLongRide/gallery/sport-24.jpg';
import sportImage25 from '../images/longLongRide/gallery/sport-25.jpg';
import sportImage26 from '../images/longLongRide/gallery/sport-26.jpg';
import sportImage27 from '../images/longLongRide/gallery/sport-27.jpg';
import sportImage28 from '../images/longLongRide/gallery/sport-28.jpg';
import sportImage29 from '../images/longLongRide/gallery/sport-29.jpg';
import sportImage30 from '../images/longLongRide/gallery/sport-30.jpg';
import sportImage31 from '../images/longLongRide/gallery/sport-31.jpg';
import sportImage32 from '../images/longLongRide/gallery/sport-32.jpg';
import sportImage33 from '../images/longLongRide/gallery/sport-33.jpg';
import sportImage34 from '../images/longLongRide/gallery/sport-34.jpg';
import sportImage35 from '../images/longLongRide/gallery/sport-35.jpg';
import sportImage36 from '../images/longLongRide/gallery/sport-36.jpg';
import sportImage37 from '../images/longLongRide/gallery/sport-37.jpg';
import sportImage38 from '../images/longLongRide/gallery/sport-38.jpg';
import sportImage39 from '../images/longLongRide/gallery/sport-39.jpg';
import sportImage40 from '../images/longLongRide/gallery/sport-40.jpg';
import sportImage41 from '../images/longLongRide/gallery/sport-41.jpg';
import sportImage42 from '../images/longLongRide/gallery/sport-42.jpg';
import sportImage43 from '../images/longLongRide/gallery/sport-43.jpg';
import sportImage44 from '../images/longLongRide/gallery/sport-44.jpg';
import sportImage45 from '../images/longLongRide/gallery/sport-45.jpg';
import sportImage46 from '../images/longLongRide/gallery/sport-46.jpg';
import sportImage47 from '../images/longLongRide/gallery/sport-47.jpg';
import sportImage48 from '../images/longLongRide/gallery/sport-48.jpg';
import sportImage49 from '../images/longLongRide/gallery/sport-49.jpg';
import sportImage50 from '../images/longLongRide/gallery/sport-50.jpg';
import sportImage51 from '../images/longLongRide/gallery/sport-51.jpg';
import sportImage52 from '../images/longLongRide/gallery/sport-52.jpg';
import sportImage53 from '../images/longLongRide/gallery/sport-53.jpg';

const locale = Astro.currentLocale || "";
---
<Layout title='Long Long Ride'>
    <main>
        <RideHeroSection />
        <RidePhilosophy />
        <ConceptSection 
            pagePath="longlongride"
            usualHeading={locale === "en" && "Our journey started " || 'наш путь начался '}
            mainHeading={locale === "en" && "in 2018" || 'в 2018 году'}
            subHeading={locale === "en" && "At that time, longboarding in Russia began to lose popularity, so we decided to support our favorite sport, which is part of our lives." || 'В это время лонгбординг в России начал терять популярность, поэтому мы решили поддержать любимый вид спорта, являющийся частью нашей жизни.'}
            text={locale === "en" && "We started holding mass longboarding races. Over time, some skateboarders, roller skaters, bicyclers joined us. Now we organize races on everything that can roll, skate, or slide, on snow or water." || 'Мы начали проводить массовые заезды на лонгбордах. Со временем к нам присоединились участники на скейтах, роликах, велосипедах. Сейчас же мы организуем заезды на всём, что катится и скользит, по снегу или воде.'}
        />
        <IntroSection 
            page='sport'
            mainHeading={locale === "en" && "Unity of people is important to us, and nothing so unites as a shared track" || "Нам важно единение людей, а ничто так не объединяет, как общий путь"}
            text={locale === "en" && "Of no matter a kind of transport or elements are" || "Не важен вид транспорта, не важно, какая стихия"}
            containerWidth="43.25rem"
            containerHeight="16.25rem"
            textWidth="14.375rem"
        />
        <RideGoals 
            page='ride'
            usualTextStart={locale === "en" && "And this is only " || 'и это лишь '}
            gradientText={locale === "en" && "a part of tasks " || 'часть задач, '}
            usualTextFinish={locale === "en" && "facing us" || 'стоящих перед нами'}
            subheading={locale === "en" && "We are glad to see every new kind participant of our community, so we invite you to become part of our team." || 'Мы рады каждому новому доброму участнику нашего сообщества, поэтому предлагаем и Вам стать частью нашей команды.'}
            text={locale === "en" && "Some participants of our community are also participants of other volunteer organizations, including ECO TIME DAY, and take an active part in achieving our common global goal – comfortable and peaceful coexistence and unity with nature and all its inhabitants who brighten it with life." || 'Некоторые участники нашего сообщества являются так же участниками других волонтёрских организаций, в том числе ECO TIME DAY, и принимают активное участие в достижении нашей общей глобальной цели - комфортное и мирное сосуществование и единение с природой и всеми, её наполняющими жизнью, жителями.'}
        />
        <!-- <EcoGalery page="ride" /> -->

        <section id="gallery" class="gallery">
            <div class="container">
                <div class="row">
                    <div class="card"><img src={galleryCard1.src} alt=""/></div>
                    <div class="card"><img src={galleryCard2.src} alt=""/></div>
                    <div class="card"><img src={galleryCard3.src} alt=""/></div>
                    <div class="card"><img src={galleryCard4.src} alt=""/></div>
                    <div class="card"><img src={sportImage1.src} alt=""/></div>
                    <div class="card"><img src={sportImage4.src} alt=""/></div>
                    <div class="card"><img src={sportImage7.src} alt=""/></div>
                    <div class="card"><img src={sportImage10.src} alt=""/></div>
                    <div class="card"><img src={sportImage13.src} alt=""/></div>
                    <div class="card"><img src={sportImage16.src} alt=""/></div>
                    <div class="card"><img src={sportImage19.src} alt=""/></div>
                    <div class="card"><img src={sportImage22.src} alt=""/></div>
                    <div class="card"><img src={sportImage25.src} alt=""/></div>
                    <div class="card"><img src={sportImage28.src} alt=""/></div>
                    <div class="card"><img src={sportImage31.src} alt=""/></div>
                    <div class="card"><img src={sportImage34.src} alt=""/></div>
                    <div class="card"><img src={sportImage37.src} alt=""/></div>
                    <div class="card"><img src={sportImage40.src} alt=""/></div>
                    <div class="card"><img src={sportImage43.src} alt=""/></div>
                    <div class="card"><img src={sportImage46.src} alt=""/></div>
                    <div class="card"><img src={sportImage49.src} alt=""/></div>
                </div>
                <div class="row">
                    <div class="card"><img src={galleryCard5.src} alt=""/></div>
                    <div class="card"><img src={galleryCard6.src} alt=""/></div>
                    <div class="card"><img src={galleryCard7.src} alt=""/></div>
                    <div class="card"><img src={galleryCard8.src} alt=""/></div>
                    <div class="card"><img src={sportImage2.src} alt=""/></div>
                    <div class="card"><img src={sportImage5.src} alt=""/></div>
                    <div class="card"><img src={sportImage8.src} alt=""/></div>
                    <div class="card"><img src={sportImage11.src} alt=""/></div>
                    <div class="card"><img src={sportImage14.src} alt=""/></div>
                    <div class="card"><img src={sportImage17.src} alt=""/></div>
                    <div class="card"><img src={sportImage20.src} alt=""/></div>
                    <div class="card"><img src={sportImage23.src} alt=""/></div>
                    <div class="card"><img src={sportImage26.src} alt=""/></div>
                    <div class="card"><img src={sportImage29.src} alt=""/></div>
                    <div class="card"><img src={sportImage32.src} alt=""/></div>
                    <div class="card"><img src={sportImage35.src} alt=""/></div>
                    <div class="card"><img src={sportImage38.src} alt=""/></div>
                    <div class="card"><img src={sportImage41.src} alt=""/></div>
                    <div class="card"><img src={sportImage44.src} alt=""/></div>
                    <div class="card"><img src={sportImage47.src} alt=""/></div>
                    <div class="card"><img src={sportImage50.src} alt=""/></div>
                </div>
                <div class="row">
                    <div class="card"><img src={galleryCard9.src} alt=""/></div>
                    <div class="card"><img src={galleryCard10.src} alt=""/></div>
                    <div class="card"><img src={galleryCard1.src} alt=""/></div>
                    <div class="card"><img src={galleryCard2.src} alt=""/></div>
                    <div class="card"><img src={sportImage3.src} alt=""/></div>
                    <div class="card"><img src={sportImage6.src} alt=""/></div>
                    <div class="card"><img src={sportImage9.src} alt=""/></div>
                    <div class="card"><img src={sportImage12.src} alt=""/></div>
                    <div class="card"><img src={sportImage15.src} alt=""/></div>
                    <div class="card"><img src={sportImage18.src} alt=""/></div>
                    <div class="card"><img src={sportImage21.src} alt=""/></div>
                    <div class="card"><img src={sportImage24.src} alt=""/></div>
                    <div class="card"><img src={sportImage27.src} alt=""/></div>
                    <div class="card"><img src={sportImage30.src} alt=""/></div>
                    <div class="card"><img src={sportImage33.src} alt=""/></div>
                    <div class="card"><img src={sportImage36.src} alt=""/></div>
                    <div class="card"><img src={sportImage39.src} alt=""/></div>
                    <div class="card"><img src={sportImage42.src} alt=""/></div>
                    <div class="card"><img src={sportImage45.src} alt=""/></div>
                    <div class="card"><img src={sportImage48.src} alt=""/></div>
                    <div class="card"><img src={sportImage51.src} alt=""/></div>
                </div>
            </div>
        </section>

        <!-- <RideVideoSection /> -->
        <HelpSection page='ride' />
        <SocialSection 
            tg_link='https://t.me/longlongridechannel' 
            inst_link = 'https://www.instagram.com/longlongride?igsh=YnV1YXZ5cTV6eHdi&utm_source=qr' 
            yt_link = 'https://youtube.com/@longlongride?feature=shared'
            fb_link = 'https://www.facebook.com/share/g/5GTkequcC1tW1bSD/?mibextid=adzO7l'
            tiktok_link = 'https://www.tiktok.com/@longlongride?_t=8pQ3gih8h1t&_r=1'
        />
    </main>
</Layout>

<script>

    // Implement horizontal scrolling for gallery

    const galleryElement = document.getElementById('gallery');
    const galleryContainer = galleryElement?.querySelector(".container") as HTMLElement;

    const scrollDiff = galleryContainer.offsetWidth - galleryElement!.offsetWidth;

    console.info('scrollDiff', scrollDiff);

    const galleryTopTrigger = galleryElement!.offsetTop - window.innerHeight / 2 + galleryElement!.offsetHeight / 2;

    document.documentElement.style.height = document.body.offsetHeight + scrollDiff + "px";

    document.addEventListener("scroll", onScroll, {passive: true});

    function onScroll() {

        const scrollTop = document.documentElement.scrollTop;

        if (scrollTop < galleryTopTrigger) {
            document.body.style.position = "";
            document.body.style.top = "";
            return;
        }

        if (scrollTop >= galleryTopTrigger && scrollTop < galleryTopTrigger + scrollDiff) {
            document.body.style.position = "fixed";
            document.body.style.top = -galleryTopTrigger + "px";
            const diff = scrollTop - galleryTopTrigger;
            galleryContainer!.style.translate = -diff + "px";
            return;
        }

        document.body.style.position = "relative";
        document.body.style.top = scrollDiff + "px";

    }
</script>

<style>

    .gallery {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
    }

    .gallery .container {
        display: inline-flex;
        flex-direction: column;
    }

    .gallery .row {
        display: inline-flex;
        gap: 20px;
        margin-bottom: 20px;
    }

    .gallery .row:nth-child(2) {
        translate: -75px;
    }

    .gallery .card {
        width: 130px; height: 70px;
        min-width: 130px;
        max-width: 130px;
        border-radius: 20px;
        overflow: hidden;
        flex: 1;
    }

    .gallery .card img {
        display: block;
        width: 100%; height: 100%;
        object-fit: cover;;
    }

    @media (width >= 480px) {
        .gallery .card {
            width: 210px; height: 110px;
            min-width: 210px; max-width: 210px;
        }
    }

    @media (width >= 640px) {
        .gallery .card {
            width: 298px; height: 165px;
            min-width: 298px; max-width: 298px;
        }
    }

    @media (width >= 960px) {
        .gallery .card {
            width: 293px; height: 165px;
            min-width: 293px; max-width: 293px;
        }
    }

    @media (width >= 1200px) {
        .gallery {
            width: 1120px;
            margin-left: auto;
            margin-right: auto;
        }
        .gallery .card {
            width: 360px; height: 205px;
            min-width: 360px; max-width: 360px;
        }
    }
</style>