---
import '../styles/global.css';
import { Image } from 'astro:assets';
import Link from './Link.astro';
import RightArrowIcon from './RightArrowIcon.astro';

interface Props {
    imagePath: string;
    imageDescription: string;
    cardDescription: string;
    href: string;
}

const {imagePath, imageDescription, cardDescription, href} = Astro.props;
---
<div class="about_card">
    <a href={href} class="card_link" aria-label="Карточка с описанием напрвлений проектов">
        <div class="about_bg">
            <Image src={import(`../images/main/about_cards/${imagePath}.jpg`)} alt={imageDescription} class='about_card_img' loading='eager'/>
            <Link href={href} theme='slider-square' classes="link link_square link_about_card">
                <RightArrowIcon />
            </Link>
        </div>
        <p class="about_card--descr">{cardDescription}</p>
    </a>
</div>

<style>
    .about_card {
        display: block;
        width: 16.6rem;
        height: 21.75rem;
    }

    .card_link {
        border-radius: 1.875rem;;
        width: inherit;
        height: inherit;
    }

    .about_bg {
        position: relative;
        width: inherit;
        height: 18.125rem;
        border-radius: 1.875rem;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    }

    .about_card_img {
        width: inherit;
        height: inherit;
        border-radius: inherit;
        object-fit: cover;
    }

    .about_card--descr {
        display: inline-block;
        width: inherit;
        margin-top: 1.25rem;
        font-family: var(--font-inter);
        font-size: 1rem;
    }

</style>