---
import '../styles/global.css';
import imagesData from '../data/concepts.json';
import RadialGradient from './RadialGradient.astro';
import { Image } from 'astro:assets';

interface Props {
    mainHeading: string;
    usualHeading?: string;
    subHeading?: string;
    text: string;
    pagePath: string;
}

const { mainHeading, subHeading, text, pagePath, usualHeading } = Astro.props;

const pageConfig = {
    'eco': {
        containerHeight: 'var(--container-height-eco)',
        gap: 'var(--gap)',
        fontSize: 'var(--font-size-eco)',
        color: 'var(--dark-grey)',
        sectionHeight: 'var(--section-height-eco)',
        topPosition: 'var(--top-position-eco)',
        imgContainerHeight: 'var(--img-container-height-eco)',
        horizontalImgHeight: 'var(--horizontal-img-height-eco)',
    },
    'low-income-families': {
        containerHeight: 'var(--container-height-low-income-families)',
        gap: 'var(--gap)',
        fontSize: 'var(--font-size-low-income-families)',
        color: 'black',
        sectionHeight: 'var(--section-height-low-income-families)',
        topPosition: 'var(--top-position-low-income-families)',
        imgContainerHeight: 'var(--img-container-height-low-income-families)',
        horizontalImgHeight: 'var(--horizontal-img-height-low-income-families)',
    },
    'longlongride': {
        containerHeight: 'var(--container-height-longlongride)',
        gap: 'var(--gap)',
        fontSize: 'var(--font-size-longlongride)',
        color: 'var(--dark-grey)',
        sectionHeight: 'var(--section-height-longlongride)',
        topPosition: 'var(--top-position-longlongride)',
        imgContainerHeight: 'var(--img-container-height-longlongride)',
        horizontalImgHeight: 'var(--horizontal-img-height-longlongride)',
    },
};

const config = pageConfig[pagePath] || pageConfig['eco'];
---
<section class="eco-concept">
    <div class={pagePath !== 'low-income-families' ? "eco-concept__container" : 'eco-concept__container low-income-concept__container'}>
        {pagePath === 'low-income-families' && <RadialGradient topPosition="0" leftPosition="24.25rem" />}
        {pagePath === 'longlongride' && <RadialGradient topPosition="17.1875rem" leftPosition="25.1875rem" />}
        <div class="eco-concept__text">
            {usualHeading ? (
                <h2 class="eco-concept__heading">{usualHeading}<br/> <span class="gradient_span">{mainHeading}</span></h2>
            ) : (
                <h2 class="eco-concept__heading"><span class="gradient_span">{mainHeading}</span></h2>
            )}
            {subHeading && <h3 class={pagePath !== 'low-income-families' ?  "eco-concept__subheading" : 'eco-concept__subheading low-income-concept__subheading'} set:html={subHeading} />}
            <p class={pagePath !== 'low-income-families' ?  "eco-concept__description" : 'eco-concept__description low-income-concept__description'} set:html={text} />
            {pagePath === "low-income-families" &&
                <p class="details-link"><a href="/low-income-families-2" class="arrow-cap">Читать подробнее о целях проекта</a></p>
            }
            {pagePath === "eco" &&
                <p class="details-link"><a href="/eco-2" class="arrow-cap">Читать подробнее о целях проекта</a></p>
            }
        </div>
        <div class="eco-concept__images">
            <div class="eco-concept__images-1">
               {imagesData.filter(image => image.category === pagePath && image.imageNumber < 3).map(image => (
                    <div class="eco-concept__img-1">
                        <img src={image.imagePath} alt={image.imageDescr} class='eco-concept__img-1' />
                    </div>
               ))}
            </div>
            <div class="eco-concept__images-2">
                {imagesData.filter(image => image.category === pagePath && image.imageNumber === 3).map(image => (
                    <div class="eco-concept__img-2">
                        <img src={image.imagePath} alt={image.imageDescr} class='eco-concept__img-2' />
                    </div>
                ))}
            </div>
        </div>
    </div>
</section>

<style define:vars={{
    containerHeight: config.containerHeight,
    imgGap: config.gap,
    fontSize: config.fontSize,
    color: config.color,
    sectionHeight: config.sectionHeight,
    topPosition: config.topPosition,
    imgContainerHeight: config.imgContainerHeight,
    horizontalImgHeight: config.horizontalImgHeight,
}}>
    .eco-concept {       
        /* Sizes */
        --section-height-eco: 25rem;
        --section-height-low-income-families: 37.5rem;
        --section-height-longlongride: 38rem;

        --container-height-eco: 20rem;
        --container-height-low-income-families: 21.875rem;
        --container-height-longlongride: 26.875rem;

        --gap: 1.25rem;

        --font-size-eco: 1rem;
        --font-size-low-income-families: 1.5rem;
        --font-size-longlongride: 1rem;

        --top-position-eco: 0rem;
        --top-position-low-income-families: 6.25rem;
        --top-position-longlongride: 6.25rem;

        --img-container-height-eco: 18.875rem;
        --img-container-height-low-income-families: 18.875rem;
        --img-container-height-longlongride: 25.5rem;

        --horizontal-img-height-eco: 8.8rem;
        --horizontal-img-height-low-income-families: 8.8rem;
        --horizontal-img-height-longlongride: 12.1rem;

        --h2-font-size: 48px;
        --h2-line-height: 3.5rem;
        --h2-margin-bottom: 2.5rem;

        --h3-font-size: 1.5rem;
        --h3-margin-bottom: 1.25rem;
        --h3-width: 34.6rem;

        --text-width: 38rem;

        --images-width: 28.5rem;
        --images-1-width: 16.6rem;
        --images-2-width: 10.7rem;
    }

    .eco-concept {
        display: block;
        position: relative;
        margin: auto;
        margin-bottom: 100px;
    }

    .eco-concept__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: var(--reduced-width);
        margin: auto;
    }

    .eco-concept__text {
        display: inline-block;
        width: var(--text-width);
        height: inherit;
    }

    h2 {
        font-size: var(--h2-font-size);
        line-height: var(--h2-line-height);
        margin-bottom: var(--h2-margin-bottom);
        color: black;
    }

    h3 {
        display: inline-block;
        width: var(--h3-width);
        font-family: var(--font-inter);
        font-weight: normal;
        font-size: var(--h3-font-size);
        margin-bottom: var(--h3-margin-bottom);
    }

    .eco-concept__description {
        margin-bottom: 30px;
    }

    p {
        font-family: var(--font-inter);
        font-size: var(--fontSize);
        color: var(--color);
    }

    img {
        object-fit: cover;
    }

    .eco-concept__images {
        display: flex;
        justify-content: space-between;
        width: var(--images-width);
        height: var(--imgContainerHeight);
    }

    .eco-concept__images-1 {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        row-gap: var(--gap);
        width: var(--images-1-width);
        height: inherit;
        border-radius: var(--border-radius);
    }

    .eco-concept__img-1 {
        display: block;
        width: inherit;
        height: var(--horizontalImgHeight);
        border-radius: inherit;
        box-shadow: var(--box-shadow);
    }

    .eco-concept__img-1 img {
        display: block;
        width: inherit;
        height: inherit;
        border-radius: inherit;
    }

    .eco-concept__images-2 {
        display: block;
        width: var(--images-2-width);
        height: inherit;
        border-radius: var(--border-radius);
    }

    .eco-concept__img-2 {
        display: block;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        box-shadow: var(--box-shadow);
    }

    .eco-concept__img-2 img {
        display: block;
        width: inherit;
        height: inherit;
        border-radius: inherit;
    }

    .details-link {
        font-size: 14px;
        margin-bottom: 40px;
    }

    @media (960px <= width < 1200px) {
        .eco-concept {       
            /* Sizes */
            --section-height-eco: 21.25rem;
            --section-height-low-income-families: 29.875rem;
            --section-height-longlongride: 25.1875rem;

            --container-height-eco: 16.875rem;
            --container-height-low-income-families: 17rem;
            --container-height-longlongride: 15.75rem;

            --gap: 1.25rem;

            --font-size-eco: .75rem;
            --font-size-low-income-families: 1.25rem;
            --font-size-longlongride: .75rem;

            --top-position-eco: 0rem;
            --top-position-low-income-families: 6.25rem;
            --top-position-longlongride: 0rem;

            --img-container-height-eco: 15.6875rem;
            --img-container-height-low-income-families: 17rem;
            --img-container-height-longlongride: 19.3125rem;

            --horizontal-img-height-eco: 7.1875rem;
            --horizontal-img-height-low-income-families: 7.9rem;
            --horizontal-img-height-longlongride: 9rem;

            --h2-font-size: 37px;
            --h2-line-height: 3.125rem;
            --h2-margin-bottom: 2.5rem;

            --h3-font-size: 1.25rem;
            --h3-margin-bottom: 1.5rem;
            --h3-width: auto;

            --text-width: 32rem;

            --images-width: 23.25rem;
            --images-1-width: 13.4375rem;
            --images-2-width: 8.5625rem;

            margin-bottom: 50px;
        }

        .low-income-concept__container {
            align-items: flex-start;
        }

        p {
            width: 26.625rem;
        }

        .low-income-concept__description {
            width: 30.25rem;
            font-size: 1.25rem;
        }

        .eco-concept__images {
            margin-top: 15px;
        }

        .details-link {
            font-size: 12px;
            margin-bottom: 40px;
        }
    }

    @media (640px <= width < 960px) {
        .eco-concept {       
            /* Sizes */
            --section-height-eco: 41rem;
            --section-height-low-income-families: 44rem;
            --section-height-longlongride: 41.6875rem;

            --container-height-eco: auto;
            --container-height-low-income-families: 32.75rem;
            --container-height-longlongride: 37.9375rem;

            --gap: 1rem;

            --font-size-eco: 0.75rem;
            --font-size-low-income-families: 1.25rem;
            --font-size-longlongride: .75rem;

            --top-position-eco: 0rem;
            --top-position-low-income-families: 5rem;
            --top-position-longlongride: 0rem;

            --img-container-height-eco: 16.25rem;
            --img-container-height-low-income-families: 16.25rem;
            --img-container-height-longlongride: 16.5rem;

            --horizontal-img-height-eco: 7.625rem;
            --horizontal-img-height-low-income-families: 7.625rem;
            --horizontal-img-height-longlongride: 7.625rem;

            --h2-font-size: 37px;
            --h2-line-height: 3.125rem;
            --h2-margin-bottom: 2.5rem;

            --h3-font-size: 1.25rem;
            --h3-margin-bottom: 1.25rem;
            --h3-width: auto;

            --text-width: 80%;

            --images-width: var(--reduced-width);
            --images-1-width: 18.5rem;
            --images-2-width: 18.5rem;
        }

        .eco-concept__container {
            display: block;
        }

        .eco-concept__text {
            height: auto;
        }

        p {
            width: 26.625rem;
            margin-bottom: 2.5rem;
        }

        .low-income-concept__description {
            width: var(--reduced-width);
            font-size: 1.25rem;
        }

        .details-link {
            font-size: 12px;
            margin-bottom: 40px;
        }
    }

    @media (480px <= width < 640px) {
        .eco-concept {       
            /* Sizes */
            --section-height-eco: 30rem;
            --section-height-low-income-families: 29.625rem;
            --section-height-longlongride: 27.625rem;

            --container-height-eco: auto;
            --container-height-low-income-families: auto;
            --container-height-longlongride: auto;

            --gap: 1.25rem;

            --font-size-eco: 0.625rem;
            --font-size-low-income-families: .75rem;
            --font-size-longlongride: .625rem;

            --top-position-eco: 0rem;
            --top-position-low-income-families: 3.75rem;
            --top-position-longlongride: 0;

            --img-container-height-eco: 12rem;
            --img-container-height-low-income-families: 12rem;
            --img-container-height-longlongride: 12rem;

            --horizontal-img-height-eco: 5.375rem;
            --horizontal-img-height-low-income-families: 5.375rem;
            --horizontal-img-height-longlongride: 5.375rem;

            --h2-font-size: 1rem;
            --h2-line-height: 1.25rem;
            --h2-margin-bottom: 1.25rem;

            --h3-font-size: 0.75rem;
            --h3-margin-bottom: .625rem;
            --h3-width: auto;

            --text-width: 24rem;

            --images-width: var(--reduced-width);
            --images-1-width: 13.125rem;
            --images-2-width: 13.125rem;
        }

        .eco-concept {
            margin-bottom: 60px;
        }

        .eco-concept__container {
            display: block;
        }

        .eco-concept__description {
            margin-bottom: 20px;
        }

        .low-income-concept__container h2 {
            width: auto;
        }

        .eco-concept__images-1 {
            border-radius: 20px;
        }

        p {
            margin-bottom: 1.25rem;
        }

        .details-link {
            font-size: 10px;
            margin-bottom: 25px;
        }
    }

    @media (320px <= width < 480px) {
        .eco-concept {       
            /* Sizes */
            --section-height-eco: 146.25vw;
            --section-height-low-income-families: 151.25vw;
            --section-height-longlongride: 161.875vw;

            --container-height-eco: auto;
            --container-height-low-income-families: auto;
            --container-height-longlongride: auto;

            --gap: 6.25vw;

            --font-size-eco: 3.125vw;
            --font-size-low-income-families: 3.125vw;
            --font-size-longlongride: 3.125vw;

            --top-position-eco: 0rem;
            --top-position-low-income-families: 12.5vw;
            --top-position-longlongride: 0;

            --img-container-height-eco: 81.25vw;
            --img-container-height-low-income-families: 81.25vw;
            --img-container-height-longlongride: 81.25vw;

            --horizontal-img-height-eco: 37.5vw;
            --horizontal-img-height-low-income-families: 37.5vw;
            --horizontal-img-height-longlongride: 37.5vw;

            --h2-font-size: 15px;
            --h2-line-height: 6.25vw;
            --h2-margin-bottom: 1.25rem;

            --h3-font-size: 3.75vw;
            --h3-margin-bottom: .625rem;
            --h3-width: var(--reduced-width);

            --text-width: var(--reduced-width);

            --images-width: var(--reduced-width);
            --images-1-width: 40.625vw;
            --images-2-width: 40.625vw;

            margin-bottom: 50px;
        }

        .eco-concept__container {
            display: block;
        }

        .eco-concept__description {
            margin-bottom: 10px;
        }

        .details-link {
            margin-bottom: 25px;
        }

        .low-income-concept__container h2 {
            width: 60vw;
        }

        p {
            margin-bottom: 1.25rem;
        }

        .eco-concept__text {
            margin-bottom: 10px;
        }
    }
</style>
