---
import { Image } from 'astro:assets';
import BSCScanLogo from '../images/logos/BSCScan.png';
import coinMarketCapLogo from '../images/logos/CoinMarketCap.png';
import pancakeswapLogo from '../images/logos/pancakeswap.png';
import links from '../data/links.json';
import "../styles/global.css";
---
<footer>
    <div class="full-footer">
        <div class="footer-container">
            <div class="footer-links">
                {links.map(link => (
                    <a href={link.url} class="footer-link">{link.text}</a>
                ))}
            </div>
            <div class="footer-logos">
                <a href="/" class="footer-logo-link">
                    <Image src={coinMarketCapLogo} class="footer-logo" alt="CoinMarketCap Logo" loading="eager" decoding="async" />
                </a>
                <div class="logo-link-container">
                    <a href="/" class="footer-logo-link">
                        <Image src={BSCScanLogo} class="footer-logo" alt="BSCScan Logo" loading="eager" decoding="async" />
                    </a>
                </div>
                <a href="/" class="footer-logo-link">
                    <Image src={pancakeswapLogo} class="footer-logo" alt="PancakeSwap Logo" loading="eager" decoding="async" />
                </a>
            </div>
        </div>
        <p class="cr">© 2024 Astroway</p>
    </div>
</footer>

<style>
    footer {
        --footer-width: 54.1875rem;
        --footer-height: 29.25rem;
        --footer-content-top: 8.1875rem;
        --footer-content-left: calc((100vw - var(--full-width)) / 2 + 8.1875rem);
        --footer-container-height: 10.125rem;
        --footer-links-width: 30.4375rem;
        --footer-links-gap: 3.1875rem;
        --footer-link-font-size: 1rem;
        --logo-container-border-radius: 1rem;
        --logo-width: 12.625rem;
        --logo-height: 2.5rem;
        --cr-margin-top: 4.4375rem;
    }

    footer {
        width: 100vw;
        height: var(--footer-height);
        background-color: black;
        color: var(--dark-grey);
        position: relative;
        text-align: center;
    }

    .full-footer {
        width: var(--footer-width);
        height: 100%;
        position: absolute;
        top: var(--footer-content-top);
        left: var(--footer-content-left);
    }

    .footer-container {
        display: flex;
        width: 100%;
        height: var(--footer-container-height);
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: var(--footer-links-gap);
        align-content: space-between;
        width: var(--footer-links-width);
        height: 100%;
    }

    .footer-link {
        align-self: flex-start;
        display: inline-block;
        font-family: var(--font-inter);
        font-size: var(--footer-link-font-size);
        color: var(--dark-grey);
        transition: color 0.3s;
    }

    .footer-link:active,
    .footer-link:hover {
        color: var(--light-grey);
    }

    .footer-logos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .logo-link-container {
        display: block;
        background-color: white;
        border-radius: var(--logo-container-border-radius);
    }

    .footer-logo-link {
        display: inline-block;
        width: var(--logo-width);
        height: var(--logo-height);
    }

    .footer-logo {
        width: 100%;
        height: 100%;
    }

    .cr {
        margin-top: var(--cr-margin-top);
        font-family: var(--font-inter);
    }
</style>

