---
import { Image } from 'astro:assets';
import '../styles/global.css';
import HelpCTA from './HelpCTA.astro';
import RadialGradient from './RadialGradient.astro'; 

const {page, img, imgDescr = ''} = Astro.props;

let heading_start, heading_gradient, heading_finish;
let sectionHeight_1200, sectionHeight_960, sectionHeight_640, sectionHeight_480, sectionHeight_320; 
let headingWidth_1200, headingWidth_960, headingWidth_640, headingWidth_480, headingWidth_320;
let topPosition = '0rem';

switch(page) {
    case 'eco':
        heading_start = 'Чтобы ';
        heading_gradient = 'быть полезным природе, заботиться ';
        heading_finish = 'о своём доме под названием планета Земля, можно';
        // Section Height
        sectionHeight_1200 = '36rem';
        sectionHeight_960 = '29.375rem';
        sectionHeight_640 = '35.125rem';
        sectionHeight_480 = '15rem';
        sectionHeight_320 = '75vw';
        // Heading Width Height
        headingWidth_1200 = '57.5rem';
        headingWidth_960 = '46.5625rem';
        headingWidth_640 = '34.5rem';
        headingWidth_480 = '18.5rem';
        headingWidth_320 = '87.5vw';
        break;
    case 'low-income-families':
        heading_start = 'Чтобы ';
        heading_gradient = 'быть полезным людям ';
        heading_finish = 'и поддержать проект, можно';
        sectionHeight_1200 = '30rem';
        headingWidth_1200 = '57.4375rem';
        break;
    case 'ride':
        heading_start = 'Чтобы ';
        heading_gradient = 'сделать мир спортивнее ';
        heading_finish = 'и поддержать проект, можно';
        // Section Height
        sectionHeight_1200 = '39.4rem';
        sectionHeight_960 = '21.75rem';
        sectionHeight_640 = '25.7rem';
        sectionHeight_480 = '12.25rem';
        sectionHeight_320 = '65vw';
        // Heading Width
        headingWidth_1200 = '59rem';
        headingWidth_960 = '46.5625rem';
        headingWidth_640 = '34.5rem';
        headingWidth_480 = '19.0625rem';
        headingWidth_320 = '87.5vw';
        topPosition = '0';
        break;
}
---
<section class="help_section">
    <div class="help__container">
        {page === 'eco' && <RadialGradient topPosition="4.4375rem" leftPosition="43.375rem" />}
        {page === 'low-income-families' && <RadialGradient topPosition="12.8125rem" leftPosition="58.9375rem" />}
        {page === 'ride' && 
            <>
                <RadialGradient topPosition="-21.0625rem" leftPosition="-22.5rem" />
                <RadialGradient topPosition="2.625rem" leftPosition="60.125rem" />
            </>
        }
        {heading_start && <h2 class="help__heading">{heading_start}<span class="gradient_span">{heading_gradient}</span>{heading_finish}</h2>}
        <HelpCTA />
        {img && <Image src={img} alt={imgDescr} class='help__img' loading='eager'/>}
    </div>
</section>

<style define:vars={{sectionHeight_1200, sectionHeight_960, sectionHeight_640, sectionHeight_480, sectionHeight_320, 
headingWidth_1200, headingWidth_960, headingWidth_640, headingWidth_480, headingWidth_320,
topPosition}}>
    .help_section {
        --sectionHeight: var(--sectionHeight_1200);
        --headingWidth: var(--headingWidth_1200);
        --topPosition: 0rem;
        --line-height: 4rem;
        --font-size: 3.125rem;
        --margin-bottom: 5rem;

        /* help img */
        --help-img-bottom: 0;
        --help-img-bottom-right: -10rem;
        --help-img-bottom-height: 22rem;
        --help-img-bottom-width: 13rem;
    }

    section {
        display: block;
        position: relative;
        width: 100vw;
        height: var(--sectionHeight);
    }

    .help__container {
        display: block;
        position: absolute;
        width: var(--reduced-width);
        height: inherit;
        top: var(--topPosition);
        left: calc((100vw - var(--reduced-width)) / 2);
    }

    .help__heading {
        display: inline-block;
        width: var(--headingWidth);
        line-height: var(--line-height);
        font-family: var(--font-lulo-bold);
        font-size: var(--font-size);
        margin-bottom: var(--margin-bottom);
    }

    .help__img {
        display: block;
        position: absolute;
        bottom: var(--help-img-bottom);
        right: var(--help-img-bottom-right);
        height: var(--help-img-bottom-height);
        width: var(--help-img-bottom-width);
    }

    @media (960px <= width < 1200px) {
        .help_section {
            --sectionHeight: var(--sectionHeight_960);
            --headingWidth: var(--headingWidth_960);
            --topPosition: 0rem;
            --line-height: 3.25rem;
            --font-size: 2.5rem;
            --margin-bottom: 3.75rem;

            /* help img */
            --help-img-bottom: 13rem;
            --help-img-bottom-right: -1rem;
            --help-img-bottom-height: 17.625rem;
            --help-img-bottom-width: 9.375rem;
        }
    }

    @media (640px <= width < 960px) {
        .help_section {
            --sectionHeight: var(--sectionHeight_640);
            --headingWidth: var(--headingWidth_640);
            --topPosition: 0rem;
            --line-height: 3.25rem;
            --font-size: 2.5rem;
            --margin-bottom: 1.25rem;

            /* help img */
            --help-img-bottom: 18.5rem;
            --help-img-bottom-right: 2rem;
            --help-img-bottom-height: 9.25rem;
            --help-img-bottom-width: 5rem;
        }
    }

    @media (480px <= width < 640px) {
        .help_section {
            --sectionHeight: var(--sectionHeight_480);
            --headingWidth: var(--headingWidth_480);
            --topPosition: 0rem;
            --line-height: 1.25rem;
            --font-size: 1rem;
            --margin-bottom: 2.5rem;

            /* help img */
            --help-img-bottom: 8rem;
            --help-img-bottom-right: 2rem;
            --help-img-bottom-height: 7.875rem;
            --help-img-bottom-width: 4.1875rem;
        }
    }

    @media (320px <= width < 480px) {
        .help_section {
            --sectionHeight: var(--sectionHeight_320);
            --headingWidth: var(--headingWidth_320);
            --topPosition: 0rem;
            --line-height: 6.25vw;
            --font-size: 5vw;
            --margin-bottom: 12.5vw;

            /* help img */
            --help-img-bottom: 8rem;
            --help-img-bottom-right: 2rem;
            --help-img-bottom-height: 7.875rem;
            --help-img-bottom-width: 4.1875rem;
        }

        .help__img {
            display: none;
        }
    }
</style>
