---
import '../styles/global.css';
import { Image } from 'astro:assets';
import img from '../images/eco/ecoCover.jpg'
interface Props {
    heroImage;
    heroImageDescr: string;
    subheading?:string;
    subheading2?: string;
    description?:string;
    pageTitle: string;
}
const { heroImage, heroImageDescr, subheading, subheading2, description, pageTitle } = Astro.props;
let headingClip1;
let headingClip2;
let usualHeading;
let topPosition;
let leftDelta;
let color;
let imageUrl;
let imgCover;

switch(pageTitle) {
    case 'eco':
        // text values
        headingClip1 = 'ECO';
        headingClip2 = 'DAY';
        usualHeading = 'TIME';
        color = 'black';

        // topPosition = '9.375rem';
        // leftDelta = '21.25rem';
        leftDelta = '0rem';
        break;
    
    case 'low-income-families':
        headingClip1 = 'RE';
        usualHeading = 'PAY';
        color = "white";

        topPosition = '9.375rem';
        leftDelta = '10.625rem';
        break;
}



console.log(pageTitle);
---
<section class:list={pageTitle}>
    <Image src={heroImage} alt={heroImageDescr} class='hero_img' loading='eager'/>
    <div class="cover"></div>
    {pageTitle === 'eco' && 
        <h1 id="hero_heading">
            {headingClip1}<br /><span class="usual-text">{usualHeading}</span>{headingClip2}
        </h1>
    }
    {pageTitle === 'low-income-families' &&
        <h1 id="hero_heading">
            {headingClip1}<span class="usual-text">{usualHeading}</span>
        </h1>
    }
    
    {subheading && <h2 class="hero-subheading">{subheading}</h2>}
    {subheading2 && <h3 class="hero-subheading2">subheading2</h3>}
    {description && <p class="hero-description">description</p>}
</section>

<style define:vars={{color, leftDelta, topPosition}}>
    section {
        position: relative;
        display: flex;
        width: 100vw;
        height: 45rem;
        align-items: center;
        justify-content: center;
    }

    .hero_img {
        display: block;
        position: absolute;
        width: inherit;
        height: inherit;
        z-index: -1;
        object-fit: cover;
        object-position: 0 -4.625rem;
    }

    .cover {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background: white;
        height: inherit;
        width: calc((100vw - var(--reduced-width)) / 2 + 31rem);
    }

    h1 {
        position: absolute;
        top: 9.375rem;
        left: calc((100vw - var(--reduced-width)) / 2);
        display: inline-block;
        width: 100vw;
        height: inherit;
        font-family: var(--font-lulo-bold);
        font-size: 9.8125rem;
        line-height: 14rem;
    }

    .clip-text {
        display: inline;
        position: absolute;
        left: calc((100vw - var(--reduced-width)) / 2 - var(--leftDelta));
    }

    .clip-text-1 {
        top: 9.375rem;
    }

    .clip-text-2 {
        bottom: 7.2rem;
    }

    .usual-text {
        color: var(--color);
        position: absolute;
        top: 0;
        left: 33rem;
    }

    h2 {
        position: absolute;
        z-index: 1;
        bottom: 10rem;
        right: calc((100vw - var(--reduced-width)) / 2 + 1.6rem);
        display: inline-block;
        font-family: var(--font-lulo-bold);
        font-size: 3.125rem;
        letter-spacing: 1px;
        color: white;
    }
</style>

<script>
    const currentUrl = window.location.pathname;
    console.log(currentUrl);
    let imgCover;
    let headingWidth, headingHeight;
    switch(currentUrl) {
        case "/eco":
            imgCover = 'src/images/eco/ecoCover.jpg';
            headingWidth = '91.25rem';
            headingHeight = '35.7rem';
            break;
        case "/low-income-families":
            imgCover = 'src/images/lowIncome/heroCover.jpg';
            headingWidth = '91.25rem';
            headingHeight = '35.7rem';
            break;
        default:
            imgCover = '';
    }
    
    let heading = document.getElementById("hero_heading");
    
    heading.style.background = `url(${imgCover})`;
    heading.style.backgroundSize = 'cover';
    heading.style.backgroundClip = 'text';
    heading.style.color = 'transparent';
    heading.style.overflow = 'hidden';
    heading.style.width = headingWidth;
    heading.style.height = headingHeight;
</script>