---
import { Icon } from 'astro-icon/components';
import '../styles/global.css';
import { Image } from 'astro:assets';
import ecoLogo from '../images/eco/ecoSocial.PNG';
import RadialGradient from './RadialGradient.astro';
import TgSocial from './icons/TgSocial.svelte';
import InstSocial from './icons/InstSocial.svelte';
import YoutubeSocial from './icons/YoutubeSocial.svelte';
import TikTokSocial from './icons/TikTokSocial.svelte';
import FbSocial from './icons/FbSocial.svelte';
import XSocial from './icons/XSocial.svelte';

const { page, tg_link, yt_link, inst_link, x_link, tiktok_link, fb_link } = Astro.props;

const locale = Astro.currentLocale || "";
---
<section class="social">
    <div class="social__container">
        <div class="white-round">
            {page === 'eco' && <RadialGradient topPosition="-8.9rem" leftPosition="-8.9rem" />}
            {!page && <Icon name='mainLogoSocial' class='main-logo' />}
            {page && <Image src={ecoLogo} alt='Логотип проекта эко день' loading='lazy' class="main-logo" />}
        </div>
        <div class="social__text">
            <h2 class="social__heading">
                {locale === "en" &&
                <><span class="gradient_span">Follow us</span> on social media</> ||
                <><span class="gradient_span">Подписывайтесь</span> на наши социальные сети</>
                }
            </h2>
            <h3 class="social__subheading">{locale === "en" && "to stay tuned with the latest news and upcoming events" || "чтобы быть в курсе самых свежих новостей и предстоящих мероприятий"}</h3>
            <div class="social__logos">
               {tg_link && <a href={tg_link} aria-label="логотип телеграма"><TgSocial /></a>}
                {yt_link && <a href={yt_link} aria-label="логотип ютуба"><YoutubeSocial /></a>}
                {inst_link && <a href={inst_link} aria-label="логотип IG"><InstSocial /></a>}
                {x_link && <a href={x_link} aria-label="логотип X"><XSocial /></a>}
                {tiktok_link && <a href={tiktok_link} aria-label="логотип TikTok"><TikTokSocial /></a>}
                {fb_link && <a href={fb_link} aria-label="логотип FaceBook"><FbSocial /></a>}
            </div>
        </div>
    </div>
</section>

<style>
    .social {
        --section-height: 38.5rem;
        --container-width: 68.25rem;
        --container-height: 33.125rem;
        --container-top: 3.375rem;
        --container-left: 6.8rem;
        --white-round-size: 17.875rem;
        --white-round-left: 9.375rem;
        --white-round-top: 8.7rem;
        --main-logo-size: 11.875rem;
        --text-width: 34.375rem;
        --text-height: 21.9rem;
        --heading-font-size: 3.125rem;
        --heading-line-height: 4rem;
        --subheading-font-size: 1.5rem;
        --logos-width: 15rem;
        --logos-height: 2.5rem;
        --logo-size: 2.5rem;
        --logo-mb: 3.75rem;
        --social-text-top: 6.125rem;
        --social-text-right: 0;
        --h2-margin-bottom: 1.25rem;
        --h3-margin-bottom: 2.5rem;
    }

    .social {
        position: relative;
        display: block;
        width: 100vw;
        height: var(--section-height);
        margin-bottom: 30px;
    }

    .social__container {
        display: block;
        position: absolute;
        top: var(--container-top);
        left: calc((100vw - var(--full-width)) / 2 - var(--container-left));
        width: var(--container-width);
        height: var(--container-height);
    }

    .white-round {
        display: block;
        position: absolute;
        left: var(--white-round-left);
        top: var(--white-round-top);
        width: var(--white-round-size);
        height: var(--white-round-size);
        /* border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); */
    }

    .main-logo {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: var(--main-logo-size);
        height: var(--main-logo-size);
    }

    .social__text {
        display: block;
        position: absolute;
        right: var(--social-text-right);
        top: var(--social-text-top);
        width: var(--text-width);
        height: var(--text-height);
    }

    h2 {
        font-size: var(--heading-font-size);
        line-height: var(--heading-line-height);
        margin-bottom: var(--h2-margin-bottom);
    }

    h3 {
        font-family: var(--font-inter);
        font-size: var(--subheading-font-size);
        margin-bottom: var(--h3-margin-bottom);
    }

    .social__logos {
        display: flex;
        width: auto;
        height: var(--logos-height);
        justify-content: start;
        align-items: center;
    }

    .social__logos a {
        height: var(--logo-size);
        width: var(--logo-size);
        margin-right: var(--logo-mb);
    }

    .social__logos a:not(:last-child) {
        margin-right: var(--logo-mb);
    }

    @media (960px <= width < 1200px) {
        .social {
            --section-height: 31.5625rem;
            --container-width: 47.6875rem;
            --container-height: 28rem;
            --container-top: 3.375rem;
            --container-left: 20px;
            --white-round-size: 13.4375rem;
            --white-round-left: 0rem;
            --white-round-top: 8.7rem;
            --main-logo-size: 11.875rem;
            --logo-mb: 3.75rem;
            --text-width: 27.5rem;
            --text-height: 21.9rem;
            --heading-font-size: 2.5rem;
            --heading-line-height: 3rem;
            --subheading-font-size: 1.25rem;
            --logos-width: 15rem;
            --logos-height: 2.5rem;
            --logo-size: 2.5rem;
            --social-text-top: 6.125rem;
            --social-text-right: 0;
            --h2-margin-bottom: 1.25rem;
            --h3-margin-bottom: 2.5rem;
        }

        .social__container {
            left: calc((100vw - var(--reduced-width)) / 2);
        }
    }

    @media (640px <= width < 960px) {
        .social {
            --section-height: 25.375rem;
            --container-width: var(--reduced-width);
            --container-height: 19.125rem;
            --container-top: 3rem;
            --container-left: 20px;
            --white-round-size: 7.9375rem;
            --white-round-left: 0rem;
            --white-round-top: 5rem;
            --main-logo-size: 7.9375rem;
            --text-width: 27.3125rem;
            --text-height: 19.125rem;
            --heading-font-size: 2.5rem;
            --heading-line-height: 3rem;
            --subheading-font-size: 1.25rem;
            --logos-width: 15rem;
            --logos-height: 2.5rem;
            --logo-size: 2.5rem;
            --logo-mb: 2.5rem;
            --social-text-top: 0rem;
            --social-text-right: 0;
            --h2-margin-bottom: 1.25rem;
            --h3-margin-bottom: 2.5rem;
        }

        .social__container {
            left: calc((100vw - var(--reduced-width)) / 2);
        }
    }

    @media (480px <= width < 640px) {
        .social {
            --section-height: 17.75rem;
            --container-width: var(--reduced-width);
            --container-height: 10.1875rem;
            --container-top: 0rem;
            --container-left: 20px;
            --white-round-size: 7.9375rem;
            --white-round-left: 0;
            --white-round-top: 6rem;
            --main-logo-size: 7.9375rem;
            --text-width: 12.5625rem;
            --text-height: 10.1875rem;
            --heading-font-size: 1rem;
            --heading-line-height: 1.25rem;
            --subheading-font-size: .75rem;
            --logos-width: 9.8125rem;
            --logos-height: 1.5625rem;
            --logo-size: 1.5625rem;
            --logo-mb: 1.5rem;
            --social-text-top: 5rem;
            --social-text-right: 4rem;
            --h2-margin-bottom: .625rem;
            --h3-margin-bottom: 1.25rem;
        }

        .social__container {
            left: calc((100vw - var(--reduced-width)) / 2);
        }
    }

    @media (320px <= width < 480px) {
        .social {
            --section-height: 79.0625vw;
            --container-width: 87.5vw;
            --container-height: 48.125vw;
            --container-top: 0rem;
            --container-left: 0;
            --white-round-size: 26.25vw;
            --white-round-left: 0;
            --white-round-top: 6rem;
            --main-logo-size: 26.25vw;
            --text-width: 54.0625vw;
            --text-height: 48.125vw;
            --heading-font-size: 5vw;
            --heading-line-height: 6.25vw;
            --subheading-font-size: 3.125vw;
            --logos-width: 40.625vw;
            --logos-height: 6.25vw;
            --logo-size: 6.25vw;
            --logo-mb: 4.375vw;
            --social-text-top: 5rem;
            --social-text-right: 0;
            --h2-margin-bottom: 3.125vw;
            --h3-margin-bottom: 6.25vw;
        }

        .social__container {
            left: calc((100vw - 87.5vw) / 2);
        }
    }
</style>
