---
import { Image } from 'astro:assets';
import '../../styles/global.css';

interface Props {
    img1: string;
    imgDescr1: string;
    img2: string;
    imgDescr2: string;
    img3: string;
    imgDescr3: string;
}

const { img1, imgDescr1, img2, imgDescr2, img3, imgDescr3 } = Astro.props;
---
<div class="img_facts">
    <div class="horizontal_images">
        <div class="img_wrapper">
            <Image src={img1} alt={imgDescr1} loading='eager' />
        </div>
        <div class="img_wrapper">
            <Image src={img2} alt={imgDescr2} loading='eager' />
        </div>
    </div>
    <div class="main_img">
        <div class="img_wrapper">
            <Image src={img3} alt={imgDescr3} loading='eager' />
        </div>
    </div>
</div>

<style>
    /* variables.css */
    .img_facts {
        --spacing-small: 1.25rem;
        --img-container-width: 34.375rem;
        --img-container-height: 35.9375rem;
        --horizontal-img-height: 12.125rem;
        --main-img-height: 22.6rem;
        --margin-top: 4.7rem;
    }

    .img_facts {
        display: flex;
        flex-direction: column;
        row-gap: var(--spacing-small);
        align-content: space-between;
        width: var(--img-container-width);
        height: var(--img-container-height);
        margin-top: var(--margin-top);
    }

    .horizontal_images {
        display: flex;
        flex-direction: row;
        column-gap: var(--spacing-small);
        justify-content: space-between;
        width: inherit;
        height: var(--horizontal-img-height);
    }

    .main_img {
        display: block;
        height: var(--main-img-height);
        width: var(--img-container-width);
    }

    .img_wrapper {
        display: block;
        height: inherit;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        width: 16.5625rem;
    }

    .main_img .img_wrapper {
        width: inherit;
    }

    img {
        display: block;
        border-radius: var(--border-radius);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
</style>
