---
import '../../styles/global.css';

interface Props {
    num: string;
    heading: string;
    text?: string;
}

const { num, heading, text } = Astro.props;

const textConfig = {
    '1': {
        height: 'var(--text-height-1)',
        width: 'var(--text-width-1)',
        spanWidth: 'var(--text-span-width-1)'
    },
    '2': {
        height: 'var(--text-height-2)',
        width: 'var(--text-width-2)',
        spanWidth: 'var(--text-span-width-2)'
    },
    '3': {
        height: 'var(--text-height-3)',
        width: 'var(--text-width-3)',
        spanWidth: 'var(--text-span-width-3)'
    },
    '4': {
        height: 'var(--text-height-4)',
        width: 'var(--text-width-4)',
        spanWidth: 'var(--text-span-width-4)'
    },
    '5': {
        height: 'var(--text-height-5)',
        width: 'var(--text-width-5)',
        spanWidth: 'var(--text-span-width-5)'
    }
};

const { height, width, spanWidth } = textConfig[num] || textConfig['1'];
---
<div id=`num${num}` class="nums" style={`--textHeight: ${height}; --textWidth: ${width}; --textSpanWidth: ${spanWidth};`}>
    <h2 class="num_heading">{num}</h2>
    <p class="text_heading">
        <span class="heading">{heading}</span>
        <span class="facts_text" set:html={text} />
    </p>
</div>

<style>
    /* variables.css */
    .nums {
        --text-height-1: 26.3rem;
        --text-height-2: 26.6rem;
        --text-height-3: 40.875rem;
        --text-height-4: 22.6rem;
        --text-height-5: 27.875rem;
        
        --text-width-1: 32.375rem;
        --text-width-2: 29rem;
        --text-width-3: 32.375rem;
        --text-width-4: 32.375rem;
        --text-width-5: 30.8rem;
        
        --text-span-width-1: 28rem;
        --text-span-width-2: 26.3rem;
        --text-span-width-3: 29.75rem;
        --text-span-width-4: 26.3rem;
        --text-span-width-5: 27.75rem;

        --num-font-size: 12.5rem;
        --heading-font-size: 3.125rem;
        --heading-width: 25rem;
        --facts-text-font-size: 1rem;
        --line-height-heading: 3.5rem;
        --line-height-facts: 1.4rem;
        --text-margin-top: 1.25rem;
        --text-margin-bottom: 0.75rem;
        --text-top: 11.5rem;
        --text-left: 2.75rem;
        --fact-height: 8.125rem;
    }

    .nums {
        display: block;
        position: relative;
        width: var(--textWidth);
        height: var(--textHeight);
    }

    .num_heading {
        position: relative;
        display: inline;
        height: inherit;
        font-family: var(--font-lulo-bold);
        font-size: var(--num-font-size);
        color: rgba(236, 236, 236, 1);
    }

    .text_heading {
        display: inline-block;
        position: absolute;
        width: inherit;
        height: var(--fact-height);
        top: var(--text-top);
        left: var(--text-left);
        color: black;
        margin-bottom: var(--text-margin-bottom);
    }

    .heading {
        display: block;
        width: var(--heading-width);
        line-height: var(--line-height-heading);
        font-size: var(--heading-font-size);
        font-family: var(--font-lulo-bold);
    }

    .facts_text {
        display: inline-block;
        font-family: var(--font-inter);
        font-size: var(--facts-text-font-size);
        color: var(--dark-grey);
        line-height: var(--line-height-facts);
        width: var(--textSpanWidth);
        margin-top: var(--text-margin-top);
    }

    @media (960px <= width < 1200px) {
        .nums {
            --text-height-1: 21rem;
            --text-height-2: 21.4375rem;
            --text-height-3: 30.8125rem;
            --text-height-4: 18.1875rem;
            --text-height-5: 21rem;
            
            --text-width-1: 25.625rem;
            --text-width-2: 28rem;
            --text-width-3: 25.625rem;
            --text-width-4: 25.625rem;
            --text-width-5: 28rem;
            
            --text-span-width-1: 23rem;
            --text-span-width-2: 26.3125rem;
            --text-span-width-3: 23.0625rem;
            --text-span-width-4: 26.3125rem;
            --text-span-width-5: 23.5rem;

            --num-font-size: 10rem;
            --heading-font-size: 2.5rem;
            --facts-text-font-size: .75rem;
            --line-height-heading: 3.25rem;
            --line-height-facts: 1.25rem;
            --text-margin-top: 1.25rem;
            --text-margin-bottom: 0.75rem;
            --text-top: 9rem;
            --text-left: 2.75rem;
            --fact-height: 8.125rem;
        }
    }

    @media (640px <= width < 960px) {
        .nums {
            --text-height-1: 27rem;
            --text-height-2: 21.4375rem;
            --text-height-3: 43rem;
            --text-height-4: 22rem;
            --text-height-5: 30rem;
            
            --text-width-1: 19rem;
            --text-width-2: 18.5rem;
            --text-width-3: 16rem;
            --text-width-4: 16rem;
            --text-width-5: 18.5rem;
            
            --text-span-width-1: 16rem;
            --text-span-width-2: 16rem;
            --text-span-width-3: 16rem;
            --text-span-width-4: 16rem;
            --text-span-width-5: 16rem;

            --num-font-size: 10rem;
            --heading-font-size: 2rem;
            --facts-text-font-size: .75rem;
            --heading-width: 12rem;
            --line-height-heading: 2.5rem;
            --line-height-facts: 1.25rem;
            --text-margin-top: .75rem;
            --text-margin-bottom: 0.75rem;
            --text-top: 9rem;
            --text-left: 2.5rem;
            --fact-height: 8.125rem;
        }
    }

    @media (480px <= width < 640px) {
        .nums {
            --text-height-1: 18rem;
            --text-height-2: 18rem;
            --text-height-3: 20rem;
            --text-height-4: 15rem;
            --text-height-5: 20rem;
            
            --text-width-1: 13rem;
            --text-width-2: 13rem;
            --text-width-3: 23.9375rem;
            --text-width-4: 13rem;
            --text-width-5: 13rem;
            
            --text-span-width-1: 11.75rem;
            --text-span-width-2: 11.75rem;
            --text-span-width-3: 22.5625rem;
            --text-span-width-4: 11.75rem;
            --text-span-width-5: 11.75rem;

            --num-font-size: 6.25rem;
            --heading-font-size: 18px;
            --facts-text-font-size: .625rem;
            --heading-width: 10rem;
            --line-height-heading: 1.4rem;
            --line-height-facts: .75rem;
            --text-margin-top: .625rem;
            --text-margin-bottom: 0.75rem;
            --text-top: 6rem;
            --text-left: 1.6rem;
            --fact-height: 8.125rem;
        }

        #num1 {order: 1;}
        #num2 {order: 2;}
        #num3 {order: 3;}
        #num4 {order: 4;}
        #num5 {order: 5;}

    }

    @media (320px <= width < 480px) {
        .nums {
            --text-height-1: 14rem;
            --text-height-2: 12rem;
            --text-height-3: 21rem;
            --text-height-4: 12rem;
            --text-height-5: 14.5rem;
            
            --text-width-1: var(--reduced-width);
            --text-width-2: var(--reduced-width);
            --text-width-3: var(--reduced-width);
            --text-width-4: var(--reduced-width);
            --text-width-5: var(--reduced-width);
            
            --text-span-width-1: 81.25vw;
            --text-span-width-2: 81.25vw;
            --text-span-width-3: 81.25vw;
            --text-span-width-4: 81.25vw;
            --text-span-width-5: 81.25vw;

            --num-font-size: 6.25rem;
            --heading-font-size: 18px;
            --facts-text-font-size: .625rem;
            --heading-width: 10rem;
            --line-height-heading: 1.4rem;
            --line-height-facts: .75rem;
            --text-margin-top: .625rem;
            --text-margin-bottom: 0.75rem;
            --text-top: 6rem;
            --text-left: 1.6rem;
            --fact-height: 8.125rem;
        }

        #num1 {order: 1;}
        #num2 {order: 2;}
        #num3 {order: 3;}
        #num4 {order: 4;}
        #num5 {order: 5;}

    }
</style>
