---
import { Image } from 'astro:assets';
import '../../styles/global.css';

interface Props {
    img1;
    imgDescr1: string;
    img2;
    imgDescr2: string;
    img3;
    imgDescr3: string;
}

const { img1, imgDescr1, img2, imgDescr2, img3, imgDescr3 } = Astro.props;
---
<div class="img_facts">
    <div class="horizontal_images">
        <div class="img1">
            <Image src={img1} alt={imgDescr1} loading='lazy' />
        </div>
        <div class="img1">
            <Image src={img2} alt={imgDescr2} loading='lazy' />
        </div>
    </div>
    <div class="main_img">
        <div class="img2">
            <Image src={img3} alt={imgDescr3} loading='lazy' />
        </div>
    </div>
</div>

<style>
    .img_facts {
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
        align-content: space-between;
        width: 34.375rem;
        height: 35.9375rem;
        margin-top: 4.7rem;
    }

    .horizontal_images {
        display: flex;
        flex-direction: row;
        column-gap: 1.25rem;
        justify-content: space-between;
        width: inherit;
        height: 12.125rem;
    }

    .main_img {
        display: block;
        height: 22.6rem;
        width: 34.375rem;
    }

    .img1, .img2 {
        display: block;
        height: inherit;
        border-radius: 1.875rem;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    }

    .img1 {
        width: 16.5625rem;
    }

    .img1 {
        width: inherit;
    }

    img {
        display: block;
        border-radius: 1.875rem;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
</style>