---
import Header from '../components/Header.svelte';
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import links from "../data/links.json";

import { getRelativeLocaleUrl } from 'astro:i18n';

interface Props {
	title: string;
	description?: string;
	image?: string;
	mainPage?: boolean;
}

const { title, description = "Community", image = "/images/band.jpg", mainPage } = Astro.props;
let bgIndex;
mainPage ? bgIndex = true: bgIndex = false;

const localizedLinks = links.map(function(link) {
	return {
		id: link.id,
		text: link.text[Astro.currentLocale || ""],
		url: getRelativeLocaleUrl(Astro.currentLocale || "", link.url)
	}
});
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<Header locale={Astro.currentLocale} links={localizedLinks} pathname={mainPage ? "/" : Astro.url.pathname} mainPage={bgIndex} client:load />
		<slot />
		<Footer links={localizedLinks}/>
	</body>
</html>

<script
  is:inline
  src="https://www.googletagmanager.com/gtag/js?id=G-GTM-MLPKRBGX"
></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-GTM-MLPKRBGX");
</script>

<!-- Yandex.Metrika counter -->
<script is:inline>
	(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	m[i].l=1*new Date();
	for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
	k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	(window, document, "script", "https://mc.webvisor.org/metrika/tag_ww.js", "ym");
	ym(99026939, "init", {
		 clickmap:true,
		 trackLinks:true,
		 accurateTrackBounce:true,
		 webvisor:true,
		 trackHash:true,
		 ecommerce:"Sales"
	});
</script>
<!-- /Yandex.Metrika counter -->